<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin panel</title>
</head>
<body>
<!--сверху-->
<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0">
        <!--мэйл с ролью-->
        <strong><a th:text="${currentUser.getUsername()}">...</a></strong>
        <span class="text-start">with roles:
            <a th:each="role : ${currentUser.getRoles()}" th:text="${role.getSimpleName() + ' '}"></a>
        </span>
    </span>
    <!--выйти-->
    <ul class="navbar-nav px-4">
        <div class="nav-item text-nowrap">
            <a class="nav-link" href="/login">Logout</a>
        </div>
    </ul>
</nav>
<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-2 vh-100 bg-white mt-3 p-0">

            <div class="nav flex-column nav-pills " id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <ul class="nav flex-column">
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a href="#" class="nav-link active placeholder  text start"
                           th:href="@{/admin}">Admin</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('USER')">
                        <a href="#" class="nav-link placeholder ms-0 me-0 w-100 text start"
                           th:href="@{/user}">User</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--центральная таблица-->
        <div class="col mt-3 ml-3">
            <div class="tab-content">
                <h1>Admin panel</h1>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                           role="tab" aria-controls="nav-home" aria-selected="true">Users table</a>
                        <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                           role="tab" aria-controls="nav-profile" aria-selected="false">New User</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <header class="p-3 table-header rounded-top border"><h4>All users</h4></header>
                        <div class="p-4 bg-white border border-top-0 rounded-bottom">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:utext="${user.getId()}">...</td>
                                    <td th:utext="${user.getName()}">...</td>
                                    <td th:utext="${user.getLastname()}">...</td>
                                    <td th:utext="${user.getAge()}">...</td>
                                    <td th:utext="${user.getUsername()}">...</td>
                                    <td>
                                        <div th:each="role : ${user.getRoles()}">
                                            <div th:utext="${role.getSimpleName()}"></div>
                                        </div>
                                    </td>
                                    <!--кнопка edit-->
                                    <td>
                                        <button type="button" class="btn btn-info" data-toggle="modal"
                                                th:data-target="${'#ed' + user.id}">Edit
                                        </button>
                                        <!--modal fade-->
                                        <div class="modal fade" th:id="${'ed'+ user.id}" data-backdrop="static"
                                             data-keyboard="false" tabindex="-1"
                                             aria-labelledby="staticBackdropLabelDel"
                                             aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="staticBackdropLabelEd">Edit
                                                            user</h4>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body p-0">
                                                        <div class="bg-white rounded-bottom">
                                                            <form th:method="PATCH"
                                                                  th:action="@{/admin/update/{id}(id=${user.getId()})}"
                                                                  th:object="${user}">
                                                                <div class="form-group row justify-content-center">
                                                                    <div class="col-6 text-center">
                                                                        <label class="mb-0 font-weight-bold">ID</label>
                                                                        <input type="text" class="form-control"
                                                                               name="id"
                                                                               th:value="${user.getId()}" readonly>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row justify-content-center">
                                                                    <div class="col-6 text-center">
                                                                        <label class="mb-0 font-weight-bold">First
                                                                            name</label>
                                                                        <input type="text" class="form-control"
                                                                               th:name="name"
                                                                               th:value="${user.getName()}">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row justify-content-center">
                                                                    <div class="col-6 text-center">
                                                                        <label class="mb-0 font-weight-bold">Last
                                                                            name</label>
                                                                        <input type="text" class="form-control"
                                                                               th:name="lastname"
                                                                               th:value="${user.getLastname()}">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row justify-content-center">
                                                                    <div class="col-6 text-center">
                                                                        <label class="mb-0 font-weight-bold">Age</label>
                                                                        <input type="number" class="form-control"
                                                                               th:name="age"
                                                                               th:value="${user.getAge()}">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row justify-content-center">
                                                                    <div class="col-6 text-center">
                                                                        <label class="mb-0 font-weight-bold">Email</label>
                                                                        <input type="email" class="form-control"
                                                                               th:name="username"
                                                                               th:value="${user.getUsername()}">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row justify-content-center">
                                                                    <div class="col-6 text-center">
                                                                        <label class="mb-0 font-weight-bold">Password</label>
                                                                        <input type="password" class="form-control"
                                                                               th:name="password"
                                                                               th:value="${user.getPassword()}">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row justify-content-center">
                                                                    <div class="col-6 text-center">
                                                                        <label class="mb-0 font-weight-bold">Role</label>
                                                                        <select multiple class="form-control" size="2"
                                                                                th:name="roles1">
                                                                            <option th:each="role : ${rolesList}"
                                                                                    th:selected="${user.hasRole(role)}"
                                                                                    th:text="${role.name}"
                                                                                    th:value="${role.name}">
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">Close
                                                                    </button>
                                                                    <button type="submit" class="btn btn-danger">Edit
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <!--кнопка delete-->
                                    <td>
                                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                                th:data-target="${'#del'+ user.id}">Delete
                                        </button>
                                        <!--modal fade-->
                                        <div class="modal fade" th:id="${'del'+ user.id}" data-backdrop="static"
                                             data-keyboard="false" tabindex="-1"
                                             aria-labelledby="staticBackdropLabelDel"
                                             aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="staticBackdropLabelDel">Delete
                                                            user</h4>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body p-0">
                                                        <div class="bg-white rounded-bottom">
                                                            <form th:method="DELETE"
                                                                  th:action="@{/admin/delete/{id}(id=${user.getId()})}"
                                                                  th:object="${user}">
                                                                <div class="form-group row justify-content-center">
                                                                    <div class="col-6 text-center">
                                                                        <label class="mb-0 font-weight-bold">ID</label>
                                                                        <input type="text" class="form-control"
                                                                               name="id"
                                                                               th:value="${user.getId()}" disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row justify-content-center">
                                                                    <div class="col-6 text-center">
                                                                        <label class="mb-0 font-weight-bold">First
                                                                            name</label>
                                                                        <input type="text" class="form-control"
                                                                               th:name="name"
                                                                               th:value="${user.getName()}" disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row justify-content-center">
                                                                    <div class="col-6 text-center">
                                                                        <label class="mb-0 font-weight-bold">Last
                                                                            name</label>
                                                                        <input type="text" class="form-control"
                                                                               th:name="lastName"
                                                                               th:value="${user.getLastname()}"
                                                                               disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row justify-content-center">
                                                                    <div class="col-6 text-center">
                                                                        <label class="mb-0 font-weight-bold">Age</label>
                                                                        <input type="number" class="form-control"
                                                                               th:name="age"
                                                                               th:value="${user.getAge()}" disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row justify-content-center">
                                                                    <div class="col-6 text-center">
                                                                        <label class="mb-0 font-weight-bold">Email</label>
                                                                        <input type="email" class="form-control"
                                                                               th:name="username"
                                                                               th:value="${user.getUsername()}"
                                                                               disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row justify-content-center">
                                                                    <div class="col-6 text-center">
                                                                        <label class="mb-0 font-weight-bold">Role</label>
                                                                        <select multiple class="form-control" size="2"
                                                                                th:name="roles1" disabled>
                                                                            <option th:each="role : ${rolesList}"
                                                                                    th:selected="${user.hasRole(role)}"
                                                                                    th:text="${role.name}"
                                                                                    th:value="${role.name}">
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">Close
                                                                    </button>

                                                                    <button type="submit" class="btn btn-danger">Delete
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <header class="p-3 table-header rounded-top border"><h4>Add new user</h4></header>
                        <div class="p-4 bg-white border border-top-0 rounded-bottom">
                            <form th:method="POST"
                                  th:action="@{/admin/save}"
                                  th:object="${newUser}">
                                <div class="form-group row justify-content-center">
                                    <div class="col-4 text-center">
                                        <label class="mb-0 font-weight-bold">First name</label>
                                        <input type="text" class="form-control" th:field="*{name}"
                                               placeholder="First name">
                                    </div>
                                </div>
                                <div class="form-group row justify-content-center">
                                    <div class="col-4 text-center">
                                        <label class="mb-0 font-weight-bold">Last name</label>
                                        <input type="text" class="form-control" th:field="*{lastname}"
                                               placeholder="Last name">
                                    </div>
                                </div>
                                <div class="form-group row justify-content-center">
                                    <div class="col-4 text-center">
                                        <label class="mb-0 font-weight-bold">Age</label>
                                        <input type="number" class="form-control" th:field="*{age}" placeholder="Age">
                                    </div>
                                </div>
                                <div class="form-group row justify-content-center">
                                    <div class="col-4 text-center">
                                        <label class="mb-0 font-weight-bold">Email</label>
                                        <input type="email" class="form-control" th:field="*{username}"
                                               placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group row justify-content-center">
                                    <div class="col-4 text-center">
                                        <label class="mb-0 font-weight-bold">Password</label>
                                        <input type="password" class="form-control" th:field="*{password}"
                                               placeholder="Password">
                                    </div>
                                </div>
                                <div class="form-group row justify-content-center">
                                    <div class="col-4 text-center">
                                        <label class="mb-0 font-weight-bold">Role</label>
                                        <select id="newRole" class="custom-select bd-primary"
                                                size="2" name="roles1" multiple="multiple">
                                            <option th:each="role : ${rolesList}"
                                                    th:value="${role.name}"
                                                    th:text="${role.name}"
                                                    th:selected="${role.name} == USER">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-2 mt-2">
                                        <button type="submit" class="btn btn-success btn-lg btn-block">Add new user
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>